/* Container */
.signup-container {
    width: 90%;
    max-width: 600px;
    background: #fdf5e6;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  /* Header */
  .header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #ffcc00, #ffd700);
    color: black;
    font-family: "Brush Script MT", cursive;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  /* Form Container */
  .form-container {
    padding: 30px;
    text-align: center;
  }
  
  .form-container h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .form-container p {
    margin: 10px 0 20px;
    font-size: 0.9rem;
    color: #333;
  }
  
  /* Input Fields */
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Signup Button */
  .signup-button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #ffcc00;
    border-radius: 9999px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    color: #000000;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #a62e064d;
    outline: none;
    overflow: hidden;
    font-size: 18px !important;
    cursor: pointer;
    width: 116px;
    height: 50px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .signup-button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .signup-button:hover .icon {
    transform: translate(4px);
  }
  
  .signup-button::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .signup-button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  /* Footer Text */
  .footer-text {
    margin-top: 20px;
    font-size: 0.9rem;
  }
  
  .link {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }