.meal-schedule-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .schedule-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-section {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .filter-section label {
    margin-right: 10px;
  }
  
  .filter-section select {
    padding: 5px;
  }
  
  .schedule-table h2 {
    text-align: center;
    margin: 10px 0;
  }
  
  .schedule-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .schedule-table th,
  .schedule-table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
  }
  
  .schedule-table th {
    background-color: #f0a500;
    font-weight: bold;
  }
  
  .book-button {
    padding: 5px 10px;
    background-color: #f0a500;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-button:hover {
    background-color: #218838;
  }
  