.dashboard {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    
  }
  
  .dashboard-header {
    background-color: #f0a500;
   
    text-align: center;
    color: white;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .dashboard-main {
    margin-top: 0;
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat-card {
    background-color: #ffeeba;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .notifications {
    margin: 20px 0;
  }
  
  .notifications ul {
    padding-left: 20px;
  }
  
  .dashboard-footer {
    display: flex;
    justify-content: space-around;
  }
  
  .button {
    background-color: #f0a500;
    color: rgb(8, 0, 0);
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    background-color: #d48806
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  