.dashboard {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    
  }
 
  .dashboard-main {
    margin-top: 0;
    text-align: center;
    
  }
  
  .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .stat-card {
    background-color: #f0a500;
    padding: 15px;
    border-radius: 5px;
    width: 200%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .notifications {
    margin: 20px 0;
  }
  
  .notifications ul {
    padding-left: 20px;
  }
  
  .dashboard-footer {
    display: flex;
    justify-content: space-around;
  }
  
  .button {
    background-color: #f0a500;
    color: rgb(8, 0, 0);
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    background-color: #d48806
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  /* Sliding Message Bar */

  .sliding-back {
    background-color: #f0a500;
    padding: 6px 0;
    margin-top: 72px;
  }
  
.sliding-bar {
  color: white;
  text-align: center !important;
  padding: 6px 0;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  animation: slide 20s linear infinite ;
  margin-top: 72px;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

